@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC:wght@400;500;700&family=Alegreya:wght@400;500;600;700&family=Poppins&family=Work+Sans:wght@400;500;600;700&display=swap');

#root{
    --blue : rgb(0, 255, 242);
}

@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC:wght@400;500;700&family=Alegreya:wght@400;500;600;700&family=Poppins&family=Work+Sans:wght@400;500;600;700&display=swap');

#root{
    --blue : rgb(0, 255, 242);
}

.home-header-user{
    margin-left: 0vw;
}


.user-homepage{
    position: absolute;
    top:0px;
    left: 0px;
    right:0px;
    margin-left: auto;
    margin-right: auto;
}
.navigation-user{
    align-items: center;
    margin-left: -40px;
    
}

.navigation-user ul{
    margin-top: 30px;
    list-style: none;
    display: flex;
    flex-direction: row;
    position: relative;
    align-content: center;
    justify-content: center;
    gap: 5%;

}

.navigation-user a{
   background-color: rgb(23, 23, 23);
   border-radius: 32px;
   width: auto;
   font-family: 'Poppins';
   padding: 16px 40px;
   align-items: center;

}

.navigation-user a{
    color: white;
    font-size: 30px;
}

.navigation-user .nav-active{
    background: linear-gradient(45deg,red,maroon);
}

.graph{
    margin-right: auto;
    margin-left: auto;
    margin-top: 40px;
    width: 80vw;
    font-family: 'Poppins';
    background-color: rgb(20, 20, 20);
    padding-block: 2px;
    border-radius: 20px;
}

.line-graph{
    margin-left: auto;
    margin-right: auto;
    width: 80vw;
}

 @media screen and (875px<width<1200px) {
    .graph{
        max-width: 80vw;
    }
    .line-graph{
        width: 75%;
    }
    
} 
@media screen and (width<875px) {
    .graph{
        max-width: 80vw;
    }
    .line-graph{
        width: 75vw;
    }
    .navigation-user ul{
        flex-direction: column;
        gap:50px
    }
}

